KICK_CHANNEL_SLUG=odablock
KICK_CLIENT_ID=your_kick_client_id
KICK_CLIENT_SECRET=your_kick_client_secret
KICK_BROADCASTER_USER_ID=
FORCE_OFFLINE=false
KICK_POLL_INTERVAL_MS=300000

WEBHOOK_PORT=3000
WEBHOOK_DOMAIN=example-domain

GITHUB_TOKEN=your_github_personal_access_token
GITHUB_OWNER=your_github_username
GITHUB_REPO=odablock-sounds-live
GITHUB_BRANCH=main
GITHUB_FILE_PATH=livestream.json
GITHUB_COMMIT_AUTHOR_NAME=odablock-live-bot
GITHUB_COMMIT_AUTHOR_EMAIL=odablock-live-bot@users.noreply.github.com
